.container__logginRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.loggin, .registro{
 display: flex;
 flex-direction: column;
 background-color:   grey;
 padding: 2rem;
 position: absolute;
 z-index: 2;
 width: 350px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 gap: 1rem;
 border-radius: 1rem;

}

input{
    border: none;
    height: 35px;
    border-radius: 1rem;
     padding: 0 1rem;
     outline: none;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 30px;
}

.container_buttons_logginRegister{
    display: flex;
    gap: 10px;
}

.button_inicio_session{
    width: 140px;
    font-size: 1rem;
    padding: 0 10px;

}

.button__registro{
    width: 140px;
    font-size: 1rem;
    padding: 0 10px;

}
