.main__container__footer{
    max-width: 1440px;
    width: 100%;
    background-color: #151e33;
}

.container__footer{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container__section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__footer{
   
    width: 200px;
    height: 200px;
    text-align: center;
    
}

.section__footer>ul{
    list-style: none;
}

.footer__end{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.list__footer__end{
    display: flex;
    list-style: none;
    gap: 3rem;

}

.footer__end>p{
   color: aliceblue;
}

 
.footer_link {
    color: #f089a0;
    list-style: none;
}

h5 {
    color: white;
}
.footer__linea{
    max-width: 1400px;
    width: 100%;
    height: 1px;
    background-color: white;
}