.login, .register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  gap: 1.3rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
   margin-top: 2rem;
   
}

.login__form, .register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.login__label, .register__label {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 70%;
  color: lightgrey;
}

.login__input, .register__input {
  width: 400px;
  height: 50px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  color: rgb(142, 141, 141);
  
  font-weight: bold;
  font-size: 1.2rem;
}

.login__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 50%;
}

.register__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 50%;
}

.login__button--submit, .register__button--submit{
  width: 400px;
  height: 50px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(142, 141, 141);
  transition: .3s ease-in-out;
}

.login__button--submit:hover{
    background-color: rgb(142, 141, 141);
    color: white;
    transition: .3s ease-in-out;
}
.login__button--submit:active{
    transform: scale(.9);
}

.login__button--google {
  width: 400px;
  height: 50px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(142, 141, 141);
  transition: .3s ease-in-out;
}

.login__button--google:hover{
    background-color: rgb(142, 141, 141);
    color: white;
    transition: .3s ease-in-out;
}
.register__button--submit:hover{
  background-color: rgb(142, 141, 141);
  color: white;
  transition: .3s ease-in-out;
}

.login__button--google:active{
 transform: scale(.9);
}

.register__button--submit:active{
  transform: scale(.9);
 }

.login__button--google > img {
  width: 30px;
}
.login__button--register {
    width: 400px;
    height: 50px;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(142, 141, 141);
    transition: .3s ease-in-out;
}
.login__button--register:hover{
    background-color: rgb(142, 141, 141);
    color: white;
    transition: .3s ease-in-out;
}
.login__button--register:active{
    transform: scale(.9);
}