:root {
  --border: 1rem;
  --borderBtn: 0.5rem;
  --primary-100: #ff6600;
  --primary-200: #ff983d;
  --primary-300: #ffffa1;
  --accent-100: #f5f5f5;
  --accent-200: #929292;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1d1f21;
  --bg-200: #2c2e30;
  --bg-300: #444648;
  --bg-gradiente1: #ff6600;
  --bg-gradeinte2: linear-gradient(
    280deg,
    #ff6600 28%,
    rgba(44, 46, 48, 1) 88%
  );

  --bg-gradienMovie:linear-gradient(
    0deg,
    #ff6600  28%,
    #2c2e30 88%
  );
}


.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradeinte2);
  gap: 1.3rem;
  padding: 1.5rem;
   border-radius: var(--border);
  margin: 2rem;
  width: 100%;
  max-width: 400px;
}

.login__error, .ragister_error{
  background-color:var(--guardsman-red-400);
  padding: 1rem;
  text-align: center;
  color: var(--guardsman-red-900);
  font-weight: bold;
  width: 100%;
  max-width:400px;
}

.login__form,
.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 400px;
}
.login__label,
.register__label {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 70%;
  color:var(--text-100);
}

.login__input,
.register__input {
  width: 100%;
  max-width: 400px;
  height: 50px;

  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  color:var(--text-100);
  background-color:var(--bg-300);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: var(--borderBtn);
}

.login__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color:var(--text-200);
}

.register__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 50%;
}

.login__button--submit,
.register__button--submit {
  width: 100%;
  max-width: 400px;
  height: 50px;
  
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color:var(--bg-300);
  color:var(--text-100);
  border-radius: var(--borderBtn);
}

.login__button--submit:hover {
  background-color:var(--bg-200);
  color:var(--text-100);
  transition: 0.2s ease-in-out;
}
.login__button--submit:active {
  transform: scale(0.9);
}

.login__button--google {
  width: 100%;
  max-width: 400px;
  height: 50px;
 
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color:var(--bg-300);
  color:var(--text-100);
  border-radius: var(--borderBtn);
  transition: 0.2s ease-in-out;
}

.login__button--google:hover {
  background-color:var(--bg-200);
  color:var(--text-100);
  transition: 0.2s ease-in-out;
}
.register__button--submit:hover {
  background-color:var(--bg-200);
  color:var(--text-100);
  transition: 0.3s ease-in-out;
}

.login__button--google:active {
  transform: scale(0.9);
}

.register__button--submit:active {
  transform: scale(0.9);
}

.login__button--google > img {
  width: 30px;
}
.login__button--register {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  background-color:var(--bg-300);
  color:var(--text-100);
  border-radius: var(--borderBtn);
  transition: 0.2s ease-in-out;
}
.login__button--register:hover {
  background-color:var(--bg-200);
  color:var(--text-100);
  transition: 0.3s ease-in-out;
}
.login__button--register:active {
  transform: scale(0.9);
}
