.container__nabvar{
    margin-top: 1rem;
    background-color: gray;
    max-width: 1240px;
    width: 1009%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 10px;
  
}

