.container__movie {
  max-width: 1440px;
  padding: 1rem;
}

.movie_reproductor {
  width: 800px;
  height: 500px;
}

.container__movie-reproductor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 2rem;
}
.movie__reproductor-btn {
  width: 200px;
  height: 50px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(142, 141, 141);
  transition: 0.3s ease-in-out;
}

.movie__reproductor__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie__reproductor-btn:hover {
  background-color: rgb(142, 141, 141);
  color: white;
  transition: 0.3s ease-in-out;
}
.movie__reproductor-btn:active {
  transform: scale(0.9);
}

.movie__Info {
  max-width: 1000px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 2rem;
  display: flex;
 
  gap: 20px;
  border-radius: 3rem;
}

.movie__title {
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.movie__Info > .MI> p {
  font-size: 1.5rem;
  color: white;
  text-align: justify;
  margin-bottom: 1rem;
}

.MI{
    width: 100%;
}
.movie__bg--image{
    width: 100%;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.movie__no-disponible{
    font-weight: bolder;
    color: lightslategrey;
}
