:root {
    --guardsman-red-50: #fff0f0;
    --guardsman-red-100: #ffdede;
    --guardsman-red-200: #ffc3c3;
    --guardsman-red-300: #ff9999;
    --guardsman-red-400: #ff5e5e;
    --guardsman-red-500: #ff2c2c;
    --guardsman-red-600: #f60c0c;
    --guardsman-red-700: #cf0606;
    --guardsman-red-800: #b80a0a;
    --guardsman-red-900: #8d0f0f;
    --guardsman-red-950: #4d0202;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: boold;
}
